<div class="about-container">
  <div class="columns">
    <div class="column">
      <div class="image"></div>
    </div>
    <div class="column">
      <p class="about-title">Regen, wind of vorst? Geen probleem.</p>
      <p>Mix en match onze 3 verschillende componenten om de ideale buitenjas samen te stellen.
        Onze waterdichte buitenjas is geschikt tegen regen en wind. De dikke binnenjas beschermt je tegen koude
        tempraturen. En de dunne binnenjas is perfect voor als het buiten net iets te fris is.</p>
    </div>
  </div>
</div>
